@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
  }

  @font-face {
    font-family: Roboto;
    src: url(fonts/RobotoSlab-Bold.ttf);
  }



h1{
    text-align: center;
    text-decoration: underline;
    font-family: Roboto;
}

h2{
    text-align: center;
    text-decoration: underline;
    font-family: Roboto;
}

form, p{
    text-align: center;
    font-size: larger;
    font-family: Lato;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="password"] {
  border: 2px solid #ccc;
  border-radius: 4px;

  background-color: #f8f8f8;
  color: #333;


}


input[type="text"]:focus, input[type="date"]:focus, input[type="number"]:focus, input[type="password"]:focus {
    background-color:rgb(187, 187, 187);
  }



.fstyle {
    border: 2px solid #333; 
    padding: 20px; 
    border-radius: 10px; 
    margin:20px;
    background-color:rgb(216, 216, 216)
  }
  

  .fstyle h2 {
    border-bottom: 2px solid #333; 
    padding-bottom: 10px; 
  }
  

.dd{
    margin:25px;
    width:200px;
    height:30px;
}

a, p.detail{
    border: solid 2px black;
    border-radius: 10px;
    margin:10px;
    padding:10px;
    color:black;
    background-color: antiquewhite;
}


li{
    padding:20px;
}

input{
    margin:5px;
}
